<tr id="product-{{ product.id }}">
    <td colspan="7">
        <form hx-put="/product/{{ product.id }}" hx-target="#product-{{ product.id }}" hx-swap="outerHTML">
                        <div class="row">
                <div class="col-md-2">
                    <input type="text" class="form-control" name="thumbnail" value="{{ product.thumbnail }}" required>
                </div>
                <div class="col-md-1">
                    <input type="text" class="form-control" name="id" value="{{ product.id}}" required>
                </div>
                <div class="col-md-2">
                    <select class="form-select" id="category_id" name="category_id">
                        {% for category in categories %}
                            <option value="{{ category.id }}" {% if category.id == product.category_id %}selected{% endif %}>
                                {{ category.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="text" class="form-control" name="title" value="{{ product.title }}" required>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" name="description" value="{{ product.description }}" required>
                </div>
                <div class="col-md-1">
                    <input type="number" class="form-control" name="stock" value="{{ product.stock }}" required>
                </div>
                <div class="col-md-1">
                    <input type="number" class="form-control" name="price" step="0.01" value="{{ product.price }}" required>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-success btn-sm">Update</button>
                    <button type="button" class="btn btn-primary btn-sm" hx-get="/product/{{ product.id }}" hx-target="closest tr" hx-swap="outerHTML">Cancel</button>
                </div>
            </div>
        </form>
    </td>
</tr>

